<section id="primary" class="site-content">
    <div class="breadcrumbs">{{ breadcrumbs }}</div>
    <div id="content" role="main">

        <header class="archive-header">
            <h1 class="archive-title">Статьи</h1>
        </header><!-- .archive-header -->
        
    </div><!-- #content -->
</section><!-- #primary -->