<div class="modal fade" id="login_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Вход в аккаунт</h4>
            </div>
            <div class="modal-body">
                <form action="https://ab-express.ru/wp-admin/admin-post.php" method="post">
                    <input type="hidden" name="action" value="userlogin">
                    <div class="form-group">
                        <label for="recipient-login" class="control-label">Логин:</label>
                        <input type="text" class="form-control" id="recipient-login" name="user_login" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-pass" class="control-label">Пароль:</label>
                        <input type="password" class="form-control" id="recipient-pass" name="user_pass" placeholder="Пароль" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>