<div class="after-reg">

	<h4>Уважаемые посетители!</h4>

	После регистрации на нашем сайте вам будут доступны следующие сервисы:

	<ul>
		<li>Возможность просматривать эксклюзивные материалы журнала, которые нигде не публиковались;</li>
		<li>Возможность просматривать материалы журнала до появления бумажной версии;</li>
		<li>Возможность подписки на новости.</li>
	</ul>

</div>
