<div class="center-block site-content-right" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <div class="breadcrumbs">

        {{ breadcrumbs }}

    </div>

    <div id="content" role="main">



        <article id="post-0" class="post error404 no-results not-found">

            <header class="entry-header">

                <h1>{{ title }}</h1>

            </header>



            <div class="entry-content">

                <p>{{ text }}</p>

                {{ form }}

            </div><!-- .entry-content -->

        </article><!-- #post-0 -->



    </div><!-- #content -->

</div><!-- #primary -->