<div class="center-block site-content-right">
    <div class="breadcrumbs">{{ breadcrumbs }}</div>
    <main role="main">
        
        {% include 'part/common_content.twig' %}
    
    </main>
</div>