<div class="center-block site-content-right">
    <main role="main">
        <div class="breadcrumbs">{{ breadcrumbs }}</div>
        <div id="content" role="main">
            <h1>{{ page.title }}</h1>
            <ul class="page-sections">
                <li class="formdoc">
                    <a href="/byulleten/smart-versiya-byulletenya-v-formate-pdf/">Смарт-версия бюллетеня (в формате
                        PDF)</a>
                </li>
                <li class="formdoc">
                    <a href="/arhiv-nomerov/">Архив выпусков</a>

                </li>
            </ul>
        </div>
    </main>
</div>