<div class="center-block site-content-right">
	<div class="breadcrumbs">{{ breadcrumbs }}</div>
    <main role="main">
	
		<h1>{{ post.title }}</h1>
			<div class="static-content"> 
	
				<div class="page-subscribe">
  					<p>Для восстановления пароля в автоматическом режиме воспользуйтесь формой ниже. Если в течение нескольких минут Вам на e-mail не придет письмо с логином и паролем то, скорее всего, вашего e-mail нет в базе адресов. <a title="Написать письмо" href="mailto:podpiska@ab-express.ru">Напишите нам письмо</a> с просьбой восстановить логин и пароль или позвоните по телефону +7 (343) 288-25-05.</p>

 

<p>Укажите электронный адрес, который был использован при регистрации. На этот адрес будет выслан Ваш логин и пароль.</p>
						
						<div class="subscribe-add-mail">
							<h3>Укажите электронный адрес, который был использован при регистрации</h3>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Укажите электронный адрес">
     						<span class="input-group-btn">
        						<button class="btn btn-default" type="button">Отправить</button>
     				 		</span>
   						</div>
						
						</div>

				</div>
				
				


			</div>



    </main>
</div>